:root {
  --accent-color: #9900ff;
  --accent-color-alpha: #9900ffaa;
  --danger-color: #dd0055;
}

body {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  overflow-y: hidden;
  max-height: 100vh;
  margin: 0;
}

h1 {
  margin-block-start: 1rem;
  padding-top: 5px;
}

section {
  background-color: #eaeaf0;
  padding: 0.5rem;
  border-radius: 9px;
}

h2 {
  display: flex;
  align-items: center;
  margin-top: 0;
}

h2 .svg-inline--fa {
  color: var(--accent-color);
  margin-right: 8px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.is-hidden,
#winsertListingTemplate,
#backgroundListingTemplate,
#permissionRowTemplate {
  display: none !important;
}

div.menu {
  width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: #eaeaf0;
  overflow-x: visible;
  padding-top: 1rem;
}

div.menu .button-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.menu button {
  background-color: transparent;
  font-size: 15pt;
  margin-bottom: 8px;
  margin-top: 8px;
  cursor: pointer;
  border: none;
  text-align: left;
}

div.menu .button-container.is-selected {
  background-color: var(--accent-color-alpha);
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  margin-right: -20px;
  animation-name: menu-select-pop;
  animation-duration: 300ms;
}

@keyframes menu-select-pop {
  from {margin-right: 120px;}
  to {margin-right: -20px;}
}

div.main-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
  width: auto;
  padding-right: 3rem;
  height: 100vh;
}

div.main-container button {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  border-width: 0;
  border-radius: 100rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

div.main-container button.icon-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;
  width: 5rem;
  height: 5rem;
}

div.main-container button.icon-button.ghost {
  box-sizing: border-box;
  border-color: var(--accent-color);
  border-width: 0.25rem;
  border-style: solid;
  background-color: transparent;
  color: var(--accent-color);

}

div.button-switch-side-container {
  padding-top: 4px;
  padding-bottom: 1rem;
}

.icon-large {
  font-size: 28pt;
}

div.settings-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

div.winsert-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 75px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

img.winside-logo-svg {
  max-width: 150px;
  margin-left: auto;
}

div.about-columns {
  display: flex;
  flex-direction: row;
}

div.about-columns div.about-content {
  display: flex;
  flex-direction: column;
}

div.about-content div.about-links-list {
  margin-top: 1rem;
}

/*--- Winserts Pane ---*/

#winsertsList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
}

div.main-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.winsertListing:not(.expanded, .backgroundListing) section, .main-area {
  cursor: pointer;
}

.winsertListing:not(.expanded, .backgroundListing) section:hover {
  background-color: var(--accent-color);
  color: white;
}

div.main-area-arrow {
  margin-left: auto;
  font-size: 24pt;
}

h2.displayName {
  margin-bottom: 0;
}

div.expanded-area {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.winsertListing:not(.expanded) div.expanded-area {
  display: none;
}

.buttons-bar {
  margin-left: auto;
  margin-top: 0.5rem;
}

.buttons-bar button.uninstall, .background-main-area button.kill {
  background-color: var(--danger-color);
}

#backgroundList {
  margin-bottom: 2rem;
}

.backgroundListing .background-main-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.background-main-area button.kill {
  margin-left: auto;
}

.permissions-header {
  display: flex;
  width: fit-content;
  margin-top: 1rem;
  padding: 2px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.permissions-header:hover {
  background-color: var(--accent-color);
  color: white;
}

.permissions-header .permissions-header-arrow {
  margin-left: 4px;
}

.permissions-table {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin-top: 4px;
}

.permission-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2px;
}

.revoke-permission {
  color: var(--danger-color);
  cursor: pointer;
}