body, html {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

.mainControlContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #005c4b;
  width: 15px;
  height: 100vh;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  width: 13px;
  border-radius: 2px;
  font-size: xx-small;
}

.closeBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.closeBtn svg {
  color: white;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}