.winside-assets.svg-style-replace-1 {
  max-width: 90%;
  fill-rule:evenodd;
  clip-rule:evenodd;
  stroke-linejoin:round;
  stroke-miterlimit:2;
}

.winside-assets.svg-style-replace-2 {
  fill: none;
}

.winside-assets.svg-style-replace-3 {
  fill:rgb(235,235,235);
}